/*Estrutura Geral*/
*{
    margin:0;
    padding:0;
}

body{
    position: relative;

    font-family: 'Nunito', sans-serif;
    
}

main{
    position: relative;
    margin: auto;

    width: 90vw;

    column-count: 4;
    column-gap: 3.2vw;

    padding: 2vw;
    

}

/*Dados da API*/
img{
    width:20vw;
}

.item{
    width:20vw;
    height: auto;
    display: inline-block;
    margin-bottom: 1vw;

}

h3,h4,h6{
    all: none;
    margin: 0.2vw 0;
    
}

h6{
    font-family: 'Space Mono', monospace;
    font-size: 12px;

    color: white;
    background-color: blueviolet;
    display: inline-block;
    padding: 0.2vw 0.5vw;
    border-radius: 1vw;
}

.hide{
    display:none;
}


/*Pesquisa e Botões*/
.search-container,.tags-container{
    position: relative;
    margin: auto;

    width: 90vw;
    
}

input[type=text],button,#lista{
    border: none;
    outline: none;

    font-family: 'Space Mono', monospace;

    
    border-radius: 1vw;

    margin: 2vw 0 ;
    color: white;

  }

  input[type=text]{
    width: 43vw;
    background-color: green;
    padding:0.5vw;
  }

  ::placeholder{
    color: white;
  }

  button{
    background-color: blueviolet;
    padding:0.5vw;
    margin: 0 0.25vw;
  }

  button:hover{
    cursor: pointer;
    background-color: #f3f3f3;
    color: blueviolet;
  }

  /*--------------MOBILE----------------------
adaptação para mobile*/

@media only screen and (max-width : 600px) {

    /*estrutura geral*/
   main{
    column-count: 1;
    
   }

   .item{
    margin:auto;
    width:90vw;

    text-align: center;
   }

   img{
    width: 80vw;
   }

  img,h6,h3{
    margin:auto;
  }

  /*botões e pesquisa*/

  button{
    margin: 0.5vw;
  }

  input[type=text]{
    width: 90vw;
  }
}